[Unit]
Description=amdgpu-fancontrol

[Service]
Type=simple
ExecStart=/usr/bin/amdgpu-fancontrol

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
